.navbar {
  display: flex;
  justify-content: space-evenly;
}

.sitelayout {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signupbackground {
  background-image: url("https://cdn2.rsc.org.uk/sitefinity/images/buildings-and-objects/audiences/audience-photos_-july-2015-_photo-by-david-tett-_c_-rsc_rsc-audience-july-2015-64.tmb-img-912.jpg?sfvrsn=2");
  filter: blur(5px);
}

.input-shadow {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container {
    margin-top: 50px auto;
		margin: 0px auto;
		width: 1200px;
    justify-content: center;
    align-items: center;
}

.top-level {
  background: linear-gradient(to bottom right, red, yellow);
  /* opacity: .7; */
  height: 100%;

  background-repeat: no-repeat;

  background-size: cover;

  background-attachment: fixed;
  margin: 0;

}

html {
  height: 100%;
}

div#root {
  background-color: rgba(0,0,0,0.4);
  height: 100vh;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 5rem;
  padding: 1rem;
  text-align: center;

}

.card {
  border: 2px solid #e7e7e7;
  border-radius: 4px;
  padding: 5rem;
  opacity: 1.0;
  background-color: aquamarine;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);

  filter: alpha(opacity=100);
}

.tab-card {
  height: 70px;
  border: 2px solid #e7e7e7;
  border-radius: 4px;
  opacity: 1.0;
  background-color: aquamarine;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);

  filter: alpha(opacity=100);
}



.theater-card {
  border: 2px solid #e7e7e7;
  border-radius: 4px;
  padding: 5rem;
  opacity: 1.0;
  background-color: aquamarine;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);

  filter: alpha(opacity=100);
}

.play-tab-card {
  border: 2px solid #e7e7e7;
  border-radius: 4px;
  padding: 5rem;
  opacity: 0.4;
  background-color: aquamarine;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
  margin-right: 10px;
  height: 200px;
  width: 200px;
  filter: alpha(opacity=100);
}

.play-tab-card-1 {
  border: 2px solid #e7e7e7;
  border-radius: 4px;
  opacity: 1.0;
  background-color: aquamarine;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
  margin-right: 10px;
  height: 200px;
  width: 200px;
  filter: alpha(opacity=100);
  display: flex;
  align-items: center;
}

.card-no-hover {
  border: 2px solid #e7e7e7;
  border-radius: 4px;
  padding: 5rem;
  background-color: aquamarine;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
  margin-right: 10px;
  height: 200px;
  width: 200px;
  filter: alpha(opacity=100);
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto;

  padding: 10px;
}

.grid-cell {

  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.profile-card {
  margin: 0 auto;
  width:75%;
  text-align: left;
  border: 2px solid #e7e7e7;
  border-radius: 4px;
  padding: 5rem;
  opacity: 1.0;
  background-color: aquamarine;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);


  filter: alpha(opacity=100);
}

.card:hover {
  opacity: 1.0;
  filter: alpha(opacity=100);
}

.flex-grid {
  display: flex;
}

.theater-logo {
  flex: 1 1 0;
  flex-direction: column;
}

.grid-fourth {
  flex: 1 0 0;
  display: flex;
}

.theater-links {
  display: flex;
  justify-content: center;
}

.theater-button {
  margin: 50px;
}



.tryout-show-grid:after {
    content: " ";
    display: block;
    border-bottom: 1px solid #rrggbb;
}

.play-show-item {
  flex: 1;
}

.show-tab-container {
    display: flex;
}

.season-tab-container {
    display: flex;
}

.split {
  margin-top: 200px;
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  display: inline-block;

}

.fadeOut {
     opacity:0;
     width:0;
     height:0;
     transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;

}
.fadeIn {
     opacity:1;
     width:100px;
     height:100px;
     transition: width 0.5s, height 0.5s, opacity 0.5s 0.5s;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
