.navbar {
  display: flex;
  justify-content: space-evenly;
}

.sitelayout {
  display: flex;
  justify-content: center;
  align-items: center;

}

.signupbackground {
  background-image: url("https://cdn2.rsc.org.uk/sitefinity/images/buildings-and-objects/audiences/audience-photos_-july-2015-_photo-by-david-tett-_c_-rsc_rsc-audience-july-2015-64.tmb-img-912.jpg?sfvrsn=2");
  filter: blur(5px);
}

.input-shadow {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container {
    margin-top: 50px auto;
		margin: 0px auto;
		width: 1200px;
    justify-content: center;
    align-items: center;


}

body {
  background-image: linear-gradient(to bottom right, red, yellow)
  !important;
  /* opacity: .7; */
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

body, html {
  height: 100vh
}

div#root {
  background-color: rgba(0,0,0,0.4);
  height: 100vh;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 5rem;
  padding: 1rem;
  text-align: center;
}

.card {
  border: 2px solid #e7e7e7;
  border-radius: 4px;
  padding: 5rem;
  opacity: 0.4;
  background-color: aquamarine;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);

  filter: alpha(opacity=100);
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto;

  padding: 10px;
}

.grid-cell {

  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.home-grid {

}

.container {
  grid-template-columns: 50px 50px 50px 50px;
  grid-template-rows: auto;
  grid-template-areas:
    "header header header header"
    "main main . sidebar"
    "footer footer footer footer";
}



.profile-card {
    border: 2px solid #e7e7e7;
    border-radius: 4px;
    padding: 5rem;
    opacity: 0.5;
}

.card:hover {
  opacity: 1.0;
  filter: alpha(opacity=100);
}
