body {
  font-family: sans-serif;
}

/* .container {
  height: 100%;
  display: grid;
  grid-gap: 3px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  background-color: #FFF;
  padding-top: 80px;
} */


@font-face {
  font-family: 'Helvetica Neue',Arial,Helvetica,sans-serif;
  font-style: normal;
  font-weight: 800;
}
