body {
  font-family: sans-serif;
}

.container {
  height: 100%;
  display: grid;
  grid-gap: 3px;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 40px auto 40px;
  background-color: #FFF;
}


@font-face {
  font-family: 'Helvetica Neue',Arial,Helvetica,sans-serif;
  font-style: normal;
  font-weight: 800;
}
